.m1-multipanel{
  overflow: hidden;
}

.m1-root{
  -webkit-user-select: none;
  left: 0px;
  position: absolute;
  top: 0px;
}

.m1-top-root{
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
}

.m1-homescreen-prompt{
  -webkit-box-sizing: content-box;
  display: block;
  font-size: 16px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 450px;
  z-index: 99;
}

.m1-loading-spinner{
  float: left;
  padding: 3px 3px 3px 3px;
}

.m1-loading-text{
  display: block;
  float: left;
  max-width: 250px;
  min-height: 15px;
  padding: 10px 0px 10px 5px;
  text-align: left;
}

.m1-loading{
  display: none;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-align: center;
  top: 150px;
  vertical-align: middle;
  width: 100%;
  z-index: 99;
}

.m1-button{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  color: white;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.m1-video-container{
  background-color: rgb(0,0,0);
}

.m1-iscroll-wrapper{
  overflow: hidden;
}

.m1-root .m1-aux-hidden-div{
  display: block;
  height: 0px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 0px;
}


  .m1-root .m1-combobox,.m1-root .m1-toolbar,.m1-root .m1-iscroll-wrapper,.m1-root .m1-map-container,.m1-root .m1-loading-text,.m1-root .m1-toggle,.m1-root .m1-button,.m1-root .m1-hyperlink,.m1-root .m1-custom-html,.m1-root .m1-video,.m1-root .m1-multipanel,.m1-root .m1-iscroll-scroller,.m1-root .m1-element,.m1-root .m1-text,.m1-root .m1-tabbar-button,.m1-root .m1-audio,.m1-root .m1-radiobutton,.m1-root .m1-loading,.m1-root .m1-multipanel-page,.m1-root .m1-tabbar,.m1-root .m1-placeholder,.m1-root .m1-hyperlink-container,.m1-root .m1-select-list-menu,.m1-root .m1-image,.m1-root .m1-homescreen-prompt,.m1-root .m1-list,.m1-root .m1-list-footer,.m1-root .m1-play-button,.m1-root .m1-video-container,.m1-root .m1-loading-spinner,.m1-root .m1-textfield,.m1-root .m1-list-header,.m1-root .m1-textarea,.m1-root .m1-video-poster-shadow,.m1-root .m1-toolbar-icon,.m1-root .m1-checkbox,.m1-root .m1-video-poster,.m1-root .m1-tabbar-button-label,.m1-root .m1-selection-list,.m1-root .m1-hyperlink-internal,.m1-root .m1-toggle5,.m1-root .m1-navbar,.m1-root .m1-list > li,.m1-root .m1-list > li > div,.m1-root .m1-list > li > img,.m1-root .m1-list > li > label,.m1-root .m1-list > li > div > img,.m1-root .m1-toggle > div,.m1-root .m1-toggle5 > div,.m1-root .m1-button > span
  {
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  display: block;
  float: none;
  position: relative;
  white-space: nowrap;
}

.m1-root .m1-custom-html{
  line-height: normal;
  overflow: hidden;
  white-space: normal;
}

.m1-root .m1-multipanel-page{
  display: none;
  position: absolute;
}

.m1-root .m1-selected.m1-multipanel-page{
  display: block;
}

.m1-root :focus{
  outline: none;
}

.m1-root textarea.m1-textarea{
  white-space: normal;
}

.m1-root textarea.m1-textarea.m1-placeholder{
  color: rgb(153,153,153);
}

.m1-homescreen-prompt img{
  display: block;
  float: left;
  margin: auto 20px 20px auto;
}

.m1-loading > div{
  -webkit-border-radius: 8px;
  -webkit-box-sizing: border-box;
  background: rgba(0,0,0,.7);
  color: rgba(255,255,255,.8);
  display: table;
  margin: 0px auto 0px auto;
  padding: 0px 15px 0px 15px;
  text-align: left;
  width: auto;
}

.m1-video-container > .m1-play-button{
  background-image: url(res/images/playVideoBtn.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.m1-video-container[poster]{
  background-color: rgba(0,0,0,0);
}

.m1-background-1{
  background-color: rgb(255,255,255);
  background-image: none;
}

.m1-border-1{
  -webkit-border-radius: 0px;
}

.m1-background-2{
  -webkit-background-size: 100%;
  background-color: rgba(0,0,0,0);
  background-image: url(images/background.png);
  background-repeat: no-repeat;
}

.m1-button.m1-font-1{
  color: rgb(255,255,255);
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.m1-button.m1-shadow-1{
  text-shadow: rgb(64,64,64) 0px -1px 1px;
}

.m1-background-3{
  background-color: rgba(0,0,0,0);
  background-image: 
    -webkit-gradient(linear, 50.0% 0.0, 50.0% 100.0%, from(rgb(215,111,7)), to(rgb(128,64,0)), color-stop(0.499,rgb(146,75,5)), color-stop(0.501,rgb(128,64,0)));
}

.m1-clicked.m1-button.m1-background-4{
  background-color: rgba(0,0,0,0);
  background-image: 
    -webkit-gradient(linear, 50.0% 0.0, 50.0% 100.0%, from(rgb(249,175,100)), to(rgb(255,128,0)), color-stop(0.499,rgb(246,139,32)), color-stop(0.501,rgb(255,128,0)));
}

.m1-clicked.m1-button.m1-active-color-1{
  color: rgb(255,255,255);
}

.m1-background-5{
  background-color: rgba(0,0,0,0);
  background-image: none;
}

.m1-background-6{
  background-color: rgba(0,0,0,0);
  background-image: 
    -webkit-gradient(linear, 50.0% 0.0, 50.0% 100.0%, from(rgb(5,153,5)), to(rgb(0,64,0)), color-stop(0.499,rgb(3,84,3)), color-stop(0.501,rgb(0,64,0)));
}

.m1-clicked.m1-button.m1-background-7{
  background-color: rgba(0,0,0,0);
  background-image: 
    -webkit-gradient(linear, 50.0% 0.0, 50.0% 100.0%, from(rgb(71,248,71)), to(rgb(0,225,0)), color-stop(0.499,rgb(8,240,8)), color-stop(0.501,rgb(0,225,0)));
}

.m1-font-2{
  color: rgb(0,0,0);
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.m1-shadow-2{
  text-shadow: rgb(255,255,255) 0px 1px 1px;
}

.m1-button.m1-font-3{
  color: rgb(255,255,255);
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.m1-font-4{
  color: rgb(0,0,0);
  font-family: Helvetica;
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
}

.m1-background-9,.m1-clicked.m1-button.m1-background-8{
  background-color: rgba(0,0,0,0);
  background-image: 
    -webkit-gradient(linear, 50.0% 0.0, 50.0% 100.0%, from(rgb(7,215,7)), to(rgb(0,128,0)), color-stop(0.499,rgb(5,146,5)), color-stop(0.501,rgb(0,128,0)));
}

body{
  margin: 0px 0px 0px 0px;
  overflow: visible;
}

#m1-AP1000_small-back{
  -webkit-border-radius: 4px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 30px;
  line-height: 30px;
  margin-left: auto;
  right: 0px;
  text-align: center;
  top: -718px;
  width: 30px;
}

#m1-AP1000_small-video-player{
  height: 72px;
  left: 476px;
  top: -1158px;
  width: 72px;
}

#m1-AP1000_small-video-shadow{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 748px;
  left: 0px;
  margin-right: 0px;
  top: -748px;
  width: auto;
}

#m1-AP1000_small-video-poster{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 748px;
  left: 0px;
  top: 0px;
  width: 1024px;
}

#m1-AP1000_small-video-container{
  height: 748px;
  left: 0px;
  line-height: 748px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-Video-box{
  height: 748px;
  left: 0px;
  line-height: 748px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-Video{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-AP1000_small-PRHRHXText1{
  height: 64px;
  left: 125px;
  line-height: 32px;
  text-align: left;
  top: -344px;
  white-space: pre-wrap;
  width: 450px;
}

#m1-AP1000_small-PRHRHXText{
  height: 32px;
  left: 0px;
  line-height: 32px;
  text-align: left;
  top: -312px;
  width: 168px;
}

#m1-AP1000_small-IRWSTText1{
  height: 64px;
  left: 125px;
  line-height: 32px;
  text-align: left;
  top: -318px;
  white-space: pre-wrap;
  width: 450px;
}

#m1-AP1000_small-IRWSTText{
  height: 24px;
  left: 0px;
  line-height: 32px;
  text-align: left;
  top: -294px;
  width: 58px;
}

#m1-AP1000_small-PassiveContainmentCoolingSystemText{
  height: 64px;
  left: 125px;
  line-height: 32px;
  text-align: left;
  top: -265px;
  width: 450px;
}

#m1-AP1000_small-PCCWText{
  height: 24px;
  left: 0px;
  line-height: 32px;
  text-align: left;
  top: -241px;
  width: 55px;
}

#m1-AP1000_small-ReactorPressureVesselText{
  height: 64px;
  left: 125px;
  line-height: 32px;
  text-align: left;
  top: -212px;
  width: 450px;
}

#m1-AP1000_small-RPVText{
  height: 24px;
  left: 0px;
  line-height: 32px;
  text-align: left;
  top: -188px;
  width: 38px;
}

#m1-AP1000_small-ReactorCoolantPumpText{
  height: 64px;
  left: 125px;
  line-height: 32px;
  text-align: left;
  top: -159px;
  width: 450px;
}

#m1-AP1000_small-RCPText{
  height: 24px;
  left: 0px;
  line-height: 32px;
  text-align: left;
  top: -135px;
  width: 38px;
}

#m1-AP1000_small-ADS1Text{
  height: 64px;
  left: 125px;
  line-height: 32px;
  text-align: left;
  top: -106px;
  width: 450px;
}

#m1-AP1000_small-ADSText{
  height: 24px;
  left: 0px;
  line-height: 32px;
  text-align: left;
  top: -82px;
  width: 38px;
}

#m1-AP1000_small-CoreMakeupTankText{
  height: 64px;
  left: 125px;
  line-height: 32px;
  text-align: left;
  top: -53px;
  width: 450px;
}

#m1-AP1000_small-CMTText{
  height: 24px;
  left: 0px;
  line-height: 32px;
  text-align: left;
  top: -29px;
  width: 39px;
}

#m1-AP1000_small-SteamGeneratorText{
  height: 64px;
  left: 125px;
  line-height: 32px;
  text-align: left;
  top: 0px;
  width: 450px;
}

#m1-AP1000_small-SGText{
  height: 24px;
  left: 0px;
  line-height: 32px;
  text-align: left;
  top: 24px;
  width: 26px;
}

#m1-AP1000_small-AbbreviationsText{
  height: 26px;
  left: 100px;
  line-height: 34px;
  text-align: left;
  top: 0px;
  width: 130px;
}

#m1-AP1000_small-AbbreviationsPage-box-scroller{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 550px;
  left: 0px;
  line-height: 40px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-AbbreviationsPage-box{
  height: 550px;
  left: 0px;
  line-height: 550px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-AbbreviationsPage{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-AP1000_small-PassiveContainmentCoolingSBO{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 96px;
  width: 500px;
}

#m1-AP1000_small-PassiveSpentFuelCooling{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 71px;
  width: 500px;
}

#m1-AP1000_small-PassiveCoreCoolingSBO{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 46px;
  width: 500px;
}

#m1-AP1000_small-SBOIncidentText{
  height: 52px;
  left: 0px;
  line-height: 32px;
  text-align: left;
  top: 48px;
  width: 412px;
}

#m1-AP1000_small-PassiveContainmentCooling{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 23px;
  width: 500px;
}

#m1-AP1000_small-PassiveCoreCooling{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: -2px;
  width: 500px;
}

#m1-AP1000_small-LossofCoolantAccidentText{
  height: 52px;
  left: 0px;
  line-height: 32px;
  text-align: left;
  top: 0px;
  width: 350px;
}

#m1-AP1000_small-AccidentMigitationPage-box-scroller{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 550px;
  left: 0px;
  line-height: 40px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-AccidentMigitationPage-box{
  height: 550px;
  left: 0px;
  line-height: 550px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-AccidentMigitationPage{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-AP1000_small-Deareator{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 425px;
  width: 500px;
}

#m1-AP1000_small-Condenser{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 400px;
  width: 500px;
}

#m1-AP1000_small-Generator{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 375px;
  width: 500px;
}

#m1-AP1000_small-LPTurbine{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 350px;
  width: 500px;
}

#m1-AP1000_small-MSR{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 325px;
  width: 500px;
}

#m1-AP1000_small-HPTurbine{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 300px;
  width: 500px;
}

#m1-AP1000_small-Baffels{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 275px;
  width: 500px;
}

#m1-AP1000_small-AirInletLouvers{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 250px;
  width: 500px;
}

#m1-AP1000_small-PCCWStorageTank{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 225px;
  width: 500px;
}

#m1-AP1000_small-Spargers{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 200px;
  width: 500px;
}

#m1-AP1000_small-Accumulators{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 175px;
  width: 500px;
}

#m1-AP1000_small-CoreMakeupTanks{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 150px;
  width: 500px;
}

#m1-AP1000_small-IRWST{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 125px;
  width: 500px;
}

#m1-AP1000_small-PassiveResidualHeatExchanger{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 100px;
  width: 500px;
}

#m1-AP1000_small-Pressurizer{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 75px;
  width: 500px;
}

#m1-AP1000_small-ReactorCoolantPumps{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 50px;
  width: 500px;
}

#m1-AP1000_small-SteamGenerator{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 25px;
  width: 500px;
}

#m1-AP1000_small-ReactorPressureVessel{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 0px;
  width: 500px;
}

#m1-AP1000_small-EquipmentsPage-box-scroller{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 1325px;
  left: 0px;
  line-height: 40px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-EquipmentsPage-box{
  height: 550px;
  left: 0px;
  line-height: 550px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-EquipmentsPage{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-AP1000_small-AllON{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 100px;
  width: 500px;
}

#m1-AP1000_small-PCCWDeliveryPipe{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 75px;
  width: 500px;
}

#m1-AP1000_small-SecondaryFeedwaterLoop{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 50px;
  width: 500px;
}

#m1-AP1000_small-SecondarySteamLoop{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 25px;
  width: 500px;
}

#m1-AP1000_small-PrimaryLoop{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 0px;
  width: 500px;
}

#m1-AP1000_small-SystemPage-box-scroller{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 550px;
  left: 0px;
  line-height: 40px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-SystemPage-box{
  height: 550px;
  left: 0px;
  line-height: 550px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-SystemPage{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-AP1000_small-TurbineBuilding{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 125px;
  width: 500px;
}

#m1-AP1000_small-ControlRoom{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 100px;
  width: 500px;
}

#m1-AP1000_small-SpentFuelPool{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 75px;
  width: 500px;
}

#m1-AP1000_small-AuxiliaryBuilding{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 50px;
  width: 500px;
}

#m1-AP1000_small-ShieldBuilding{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 25px;
  width: 500px;
}

#m1-AP1000_small-SteelContainmentVessel{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  top: 0px;
  width: 500px;
}

#m1-AP1000_small-NuclearIslandPage-box-scroller{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 550px;
  left: 0px;
  line-height: 40px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-NuclearIslandPage-box{
  height: 550px;
  left: 0px;
  line-height: 550px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-NuclearIslandPage{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-AP1000_small-html1{
  height: 350px;
  left: 0px;
  margin-right: 8px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-AP1000Page-box-scroller{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 550px;
  left: 0px;
  line-height: 40px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-AP1000Page-box{
  height: 550px;
  left: 0px;
  line-height: 550px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-AP1000Page{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-AP1000_small-RightPane{
  height: 550px;
  left: 400px;
  line-height: 550px;
  top: -140px;
  width: 600px;
}

#m1-AP1000_small-Abbreviations{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: 275px;
  width: 300px;
}

#m1-AP1000_small-AccidentMitigation{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: 250px;
  width: 300px;
}

#m1-AP1000_small-Equipments{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: 225px;
  width: 300px;
}

#m1-AP1000_small-Systems{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: 200px;
  width: 300px;
}

#m1-AP1000_small-NuclearIsland{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: 175px;
  width: 300px;
}

#m1-AP1000_small-AP1000{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: 150px;
  width: 300px;
}

#m1-AP1000_small-Menu-box{
  height: 748px;
  left: 0px;
  line-height: 748px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AP1000_small-Menu{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-AP1000_small-MainPage{
  height: 748px;
  left: 0px;
  line-height: 748px;
  top: 0px;
  width: 1024px;
}

